body {
    padding: 20px;
}
.grid-container {
    display: inline-flex;
    text-decoration: none;
}

.grid-item {
    padding: 10px 15px;
    border-radius: 10px;
    margin: 20px;
    width: 200px;
    border: 1px solid black;
}

.megasena {
    background-color: #58ff6d;
}

.quina {
    background-color: #8a2be2;
}

.lotofacil {
    background-color: #fc83ec;
}

.lotomania {
    background-color: #ffbc40;
}

.timemania {
    background-color: #00a000;
}

.diadesorte {
    background-color: #d2b48c;
}

.megasena, .lotofacil, .lotomania, .diadesorte {
    color: black;
}

.quina, .timemania {
    color: white;
}

.megasena:hover {
    background-color: #63ca6f;
}

.quina:hover {
    background-color: #a35fe2;
}

.lotofacil:hover {
    background-color: #f0afe7;
}

.lotomania:hover {
    background-color: #f7cd80;
}

.timemania:hover {
    background-color: #479c47;
}

.diadesorte:hover {
    background-color: #ccbeac;
}

